<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="General">
    <setting id="player_type" type="enum" values="Auto|MPlayer|DVDPlayer" label="30000" default="2"/>
    <setting id="updatecheck2" type="bool" label="30001" default="true"/>
    <setting id="updatechannels" type="bool" label="30004" default="true"/>
    <setting id="debug" type="bool" label="30003" default="false"/>
    <setting id="default_action" type="enum" lvalues="30006|30007|30008" label="30005" default="0"/>
    <setting id="thumbnail_type" type="enum" lvalues="30011|30012|30200" label="30010" default="2"/>
    <setting id="languagefilter" type="enum" lvalues="30025|30026|30027|30028|30029|30016|30023|30036|30037" values="0|1|2|3|4" label="30019" default="0"/>
    <setting id="forceview" type="bool" label ="30043" default="true"/>
    <setting id="player_mode" type="enum" values="Default|SetResolvedUrl|Built-In|Download and Play" label="30044" default="0"/>

    <setting type="sep" />
    <setting id="suscription_check" type="bool" label="30045" default="true"/>
    <setting id="downloadpath" type="text" label="30017" default=""/>
    <setting id="downloadlistpath" type="text" label="30018" default=""/>
    <setting id="bookmarkpath" type="text" source="video" option="writeable" label="30030" default=""/>
    <setting id="jdownloader" type="text" label="30022" default="http://127.0.0.1:10025" visible="false"/>
    <setting id="modo_cache" type="enum" lvalues="30039|30040|30041" label="30038" default="0" visible="false"/>
    <setting id="cache.dir" type="text" label="30042" default="" visible="false"/>
    <setting id="youtube_special_formats" type="bool" label="Mostrar opciones solo audio / solo video en YouTube" default="false"/>
  </category>

  <category label="Cuentas de usuario">
    <setting id="account_type_registered" type="enum" label="Cuenta para tvalacarta" default="0" values="Anónima|Registrada"/>
    <setting subsetting="true" id="account_email" type="text" label="E-Mail" enable="eq(-1,1)" default=""/>
    <setting subsetting="true" id="account_password" type="text" label="Contraseña" option="hidden" enable="!eq(-1,)+eq(-2,true)" default=""/>
    <setting id="account_session" type="text" label="Sesión" default="" visible="false"/>
    <setting id="account_anonymous_id" type="text" label="ID anónimo" default="" visible="false"/>

    <setting type="sep" />
    <setting id="a3mediaaccount" type="bool" label="Cuenta para a3media" default="false"/>
    <setting id="a3mediauser" type="text" label="E-Mail"  enable="eq(-1,true)" default=""/>
    <setting id="a3mediapassword" type="text" option="hidden" label="Password" enable="!eq(-1,)+eq(-2,true)" default=""/>
  </category>

  <category label="Sección programas">
    <setting id="programs_enable_section" type="bool" label="Mostrar sección 'Programas'" default="true"/>
    <setting subsetting="true" id="programs_enable_subsections" type="bool" label="Separar sección 'Programas' por tipos" enable="eq(-1,true)" default="true"/>
    <setting subsetting="true" id="programs_num_elements_per_page" type="enum" values="10|20|30|40|50" label="Nº de elementos por página" enable="eq(-2,true)" default="0"/>
  </category>
</settings>